body {
    background-color: black;
    font-family: sans-serif;
    margin: 60px;
}

p {
    color:white;
    font-size: 30px;
    margin-left: 60px;
    margin-right: 300px;
}

#topnav {
    color:white;
    font-size: 24px;
    font-weight: 400px;
    padding: 8px 16px 8px 16px;
    margin:30px 0px 30px 0px
}
nav a:hover {
    text-decoration-line: underline;
    cursor: pointer
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav a {
    padding: 20px;
}

#invertbutton {
    color:black;
    background-color: white;
    margin: 50px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}
#invertbutton:hover {
    transform: rotate(45deg);
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#fun {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#office {
    padding: 60px;
}